.NotFoundContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 2.5rem;
}

.FormContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: -10vh;
}

.DivInput {
    margin: 2vh !important;
}

.LabelForm {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.BtnLoginDiv {
    display: flex;
    justify-content: center;
}

.BtnLogin {
    background-color: #03dac5 !important;
    margin: 2vh !important;
    border: #03dac5 !important;
}

.HomeLogo {
    padding: 2vh;
    z-index: 2;
}

.DashboardAdminContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.BtnSetting {
    padding-left: 0 !important;
}

.linkNavBarAdmin {
    font-size: 1.3rem;
    display: none;
}

.NavBarAdminLast:hover {
    border: 0;
}

.NavBarContentDashboard {
    padding-right: 0 !important;
    background-color: #121212;
    border: solid 0.2rem #03DAC5;
}

.DashboardAdminLeft {
    width: 10%;
    background-color: #03DAC5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.linkNavBarAdminLeft {
    font-size: 1.5rem;
    color: #FFF;
}

.linkNavBarAdminLeft:hover {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: solid #FFFFFF;
}

.LinkDivDashboardAdminLeft {
    padding: 1.5vh;
    text-align: center;
    font-family: "Cooper Hewitt";
}

.DashboardMidlle {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #121212;
}

.DashboardAdminRight {
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: .25rem;
    margin: 3vh;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
}

.ColumnActu {
    padding-right: 3vh;
    padding-left: 3vh;
}

.ActuTextAdmin {
    padding-top: 4vh;
}

.ColumnSite {
    border-right: solid #03DAC5;
}

@media screen and (max-width: 767px) {
    .DashboardAdminLeft {
      display: none;
    }

    .linkNavBarAdmin {
        display: block;
    }

    .NavBarAdminLast {
        display: none;
    }

    .BtnAddMobile {
        background-color: #121212 !important;
        border: #121212 !important;
        box-shadow: 0 2px 4px #121212 !important;
    }

    .ColumnSite {
        border-right: 0;
        padding-top: 2vh;
    }

    .DashboardAdminRight {
        display: flex;
        flex-direction: column-reverse;
    }

    .ActuTextAdmin {
        padding-top: 1vh;
    }
  }